cryptography==39.0.2
pyotp===2.4.1
#python-dateutil==2.7.5
#redis===3.5.3
redis==4.5.1
PyJWT==2.0.1
aliyun-python-sdk-dyvmsapi==3.0.2
aliyun-python-sdk-dysmsapi
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-core-v3
oss2==2.14.0